@use "../Vars.scss" as *;
@use "../Styles.scss" as *;
$burgerIconColor: nth(
  $list: $toggle_text_color,
  $n: 1,
);

#burgerIcon1,
#burgerIcon2,
#burgerIcon3,
#burgerIcon0 {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#burgerIcon1 span,
#burgerIcon3 span,
#burgerIcon0 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: $burgerIconColor;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#burgerIcon1 span:nth-child(1) {
  top: 0px;
}

#burgerIcon1 span:nth-child(2) {
  top: 18px;
}

#burgerIcon1 span:nth-child(3) {
  top: 36px;
}

#burgerIcon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#burgerIcon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#burgerIcon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* Icon 2 */

#burgerIcon2 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 50%;
  background: $burgerIconColor;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#burgerIcon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#burgerIcon2 span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

#burgerIcon2 span:nth-child(1),
#burgerIcon2 span:nth-child(2) {
  top: 0px;
}

#burgerIcon2 span:nth-child(3),
#burgerIcon2 span:nth-child(4) {
  top: 18px;
}

#burgerIcon2 span:nth-child(5),
#burgerIcon2 span:nth-child(6) {
  top: 36px;
}

#burgerIcon2.open span:nth-child(1),
#burgerIcon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#burgerIcon2.open span:nth-child(2),
#burgerIcon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#burgerIcon2.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#burgerIcon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#burgerIcon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#burgerIcon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#burgerIcon2.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

#burgerIcon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}

/* Icon 3 */

#burgerIcon3 span:nth-child(1) {
  top: 0px;
}

#burgerIcon3 span:nth-child(2),
#burgerIcon3 span:nth-child(3) {
  top: 18px;
}

#burgerIcon3 span:nth-child(4) {
  top: 36px;
}

#burgerIcon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#burgerIcon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#burgerIcon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#burgerIcon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* Icon 4 */

#burgerIcon0 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#burgerIcon0 span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#burgerIcon0 span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#burgerIcon0.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#burgerIcon0.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#burgerIcon0.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}
