@use "../Vars.scss" as *;
@use "../Styles.scss" as *;

.Navbar_ul {
  width: 100%;
  height: $Header_height;
  z-index: 1000;

  @include res_desktop {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  @include res_phone {
    width: 100%;
    top: 100%;
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: nth($list: $toggle_text_color, $n: 2);
    height: auto;
  }

  > li {
    @include res_desktop {
      padding: 1rem 0.5rem;
      // position: relative;
    }

    &:hover {
      .dropdown {
        display: block;
      }
      @include res_phone {
        .dropdown {
          display: none;
        }
      }
    }
  }
}

.button_info {
  @include btn_info;
  @include toggle_hide(none);
  position: absolute;
  opacity: 0.8;
  margin-top: -2rem;
  margin-right: -12rem;
}

.BurgerIcon {
  width: 100px;
  height: $Header_height;
  display: none;
  @include toggle_phone_show;

  @include phone {
    width: 80px;
  }
}

.toggle_BurgerIcon {
  @include toggle_phone_show;
}

.dropdown {
  display: none;
  @include res_desktop {
    position: absolute;
    top: 100%;
  }
}
.Navbar_ul.nav_hide {
  display: flex;
}
