/node_modules/
.yarn
.next
public
dist
node_modules
next.config.mjs
next.config.js
next-env.d.ts
package*.json
README.md
postcss.config.js
pnpm-lock.yaml
tsconfig.json
.eslintrc.json
out
*.env
.env
.env.*