@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9846 0.0017 247.8389);
  --foreground: oklch(0.1615 0.0151 253.1419);
  --card: oklch(0.9943 0.0013 286.3761);
  --card-foreground: oklch(0.1615 0.0151 253.1419);
  --popover: oklch(0.9943 0.0013 286.3761);
  --popover-foreground: oklch(0.1615 0.0151 253.1419);
  --primary: oklch(0.4704 0.1589 255.7053);
  --primary-foreground: oklch(0.984 0.0062 255.4743);
  --secondary: oklch(0.9505 0.008 253.854);
  --secondary-foreground: oklch(0.2411 0.0137 253.0869);
  --muted: oklch(0.954 0.0063 255.4755);
  --muted-foreground: oklch(0.4602 0.0178 251.3312);
  --accent: oklch(0.9422 0.0303 241.9958);
  --accent-foreground: oklch(0.2411 0.0137 253.0869);
  --destructive: oklch(0.5771 0.2152 27.325);
  --destructive-foreground: oklch(0.984 0.008 36.5543);
  --border: oklch(0.899 0.0081 253.8577);
  --input: oklch(0.899 0.0081 253.8577);
  --ring: oklch(0.4704 0.1589 255.7053);
  --chart-1: oklch(0.5509 0.1597 254.959);
  --chart-2: oklch(0.6191 0.1312 294.8336);
  --chart-3: oklch(0.4508 0.1396 335.4759);
  --chart-4: oklch(0.6996 0.1099 54.6728);
  --chart-5: oklch(0.6647 0.1358 89.0622);
  --sidebar: oklch(0.97 0.0029 264.542);
  --sidebar-foreground: oklch(0.1615 0.0151 253.1419);
  --sidebar-primary: oklch(0.4704 0.1589 255.7053);
  --sidebar-primary-foreground: oklch(0.984 0.0062 255.4743);
  --sidebar-accent: oklch(0.9422 0.0303 241.9958);
  --sidebar-accent-foreground: oklch(0.2411 0.0137 253.0869);
  --sidebar-border: oklch(0.899 0.0081 253.8577);
  --sidebar-ring: oklch(0.4704 0.1589 255.7053);
  --font-sans: Oxanium, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Inika, ui-serif, serif;
  --font-mono: Cousine, ui-monospace, monospace;
  --radius: 0.625rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1529 0.01 255.4426);
  --foreground: oklch(0.9695 0.0045 258.3246);
  --card: oklch(0.1993 0.0111 260.661);
  --card-foreground: oklch(0.9695 0.0045 258.3246);
  --popover: oklch(0.1993 0.0111 260.661);
  --popover-foreground: oklch(0.9695 0.0045 258.3246);
  --primary: oklch(0.6789 0.1603 255.0691);
  --primary-foreground: oklch(0.1615 0.0151 253.1419);
  --secondary: oklch(0.2588 0.0127 258.3724);
  --secondary-foreground: oklch(0.9507 0.0052 247.8783);
  --muted: oklch(0.25 0.0112 254.0422);
  --muted-foreground: oklch(0.6801 0.0155 254.6442);
  --accent: oklch(0.281 0.0495 254.0409);
  --accent-foreground: oklch(0.9507 0.0052 247.8783);
  --destructive: oklch(0.6592 0.1904 25.3082);
  --destructive-foreground: oklch(0.1603 0.0143 26.8249);
  --border: oklch(0.3191 0.0143 256.7801);
  --input: oklch(0.2987 0.013 253.0145);
  --ring: oklch(0.6789 0.1603 255.0691);
  --chart-1: oklch(0.6789 0.1603 255.0691);
  --chart-2: oklch(0.72 0.13 295.204);
  --chart-3: oklch(0.6 0.1611 334.8453);
  --chart-4: oklch(0.76 0.1099 55.2003);
  --chart-5: oklch(0.7432 0.152 91.4546);
  --sidebar: oklch(0.1903 0.0112 260.6519);
  --sidebar-foreground: oklch(0.9695 0.0045 258.3246);
  --sidebar-primary: oklch(0.6789 0.1603 255.0691);
  --sidebar-primary-foreground: oklch(0.1615 0.0151 253.1419);
  --sidebar-accent: oklch(0.281 0.0495 254.0409);
  --sidebar-accent-foreground: oklch(0.9507 0.0052 247.8783);
  --sidebar-border: oklch(0.3191 0.0143 256.7801);
  --sidebar-ring: oklch(0.6789 0.1603 255.0691);
  --font-sans: Oxanium, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Inika, ui-serif, serif;
  --font-mono: Cousine, ui-monospace, monospace;
  --radius: 0.625rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}
