@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9843 0.0011 197.1389);
  --foreground: oklch(0.159 0.0144 195.8017);
  --card: oklch(0.9955 0.0021 197.1227);
  --card-foreground: oklch(0.159 0.0144 195.8017);
  --popover: oklch(0.9955 0.0021 197.1227);
  --popover-foreground: oklch(0.159 0.0144 195.8017);
  --primary: oklch(0.4823 0.0835 189.2437);
  --primary-foreground: oklch(0.9843 0.0053 197.0705);
  --secondary: oklch(0.9496 0.0076 186.8882);
  --secondary-foreground: oklch(0.2411 0.0156 189.2214);
  --muted: oklch(0.9544 0.0053 197.0671);
  --muted-foreground: oklch(0.4589 0.0175 191.2813);
  --accent: oklch(0.9454 0.0305 189.0829);
  --accent-foreground: oklch(0.2411 0.0156 189.2214);
  --destructive: oklch(0.5771 0.2152 27.325);
  --destructive-foreground: oklch(0.984 0.008 36.5543);
  --border: oklch(0.9003 0.0087 188.0935);
  --input: oklch(0.9003 0.0087 188.0935);
  --ring: oklch(0.4823 0.0835 189.2437);
  --chart-1: oklch(0.5565 0.0961 190.136);
  --chart-2: oklch(0.6189 0.1201 230.2344);
  --chart-3: oklch(0.4506 0.0893 269.8472);
  --chart-4: oklch(0.7 0.1008 350.167);
  --chart-5: oklch(0.6605 0.1299 30.2937);
  --sidebar: oklch(0.9706 0.0034 174.4833);
  --sidebar-foreground: oklch(0.159 0.0144 195.8017);
  --sidebar-primary: oklch(0.4823 0.0835 189.2437);
  --sidebar-primary-foreground: oklch(0.9843 0.0053 197.0705);
  --sidebar-accent: oklch(0.9454 0.0305 189.0829);
  --sidebar-accent-foreground: oklch(0.2411 0.0156 189.2214);
  --sidebar-border: oklch(0.9003 0.0087 188.0935);
  --sidebar-ring: oklch(0.4823 0.0835 189.2437);
  --font-sans: Oxanium, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Inika, ui-serif, serif;
  --font-mono: Cousine, ui-monospace, monospace;
  --radius: 0.625rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1568 0.0099 183.952);
  --foreground: oklch(0.9694 0.0053 197.0688);
  --card: oklch(0.2006 0.0121 186.8083);
  --card-foreground: oklch(0.9694 0.0053 197.0688);
  --popover: oklch(0.2006 0.0121 186.8083);
  --popover-foreground: oklch(0.9694 0.0053 197.0688);
  --primary: oklch(0.6808 0.1104 189.5363);
  --primary-foreground: oklch(0.159 0.0144 195.8017);
  --secondary: oklch(0.2596 0.0129 188.1045);
  --secondary-foreground: oklch(0.9503 0.0065 185.2692);
  --muted: oklch(0.2512 0.0129 188.0554);
  --muted-foreground: oklch(0.681 0.0162 186.4837);
  --accent: oklch(0.2796 0.0397 189.8335);
  --accent-foreground: oklch(0.9503 0.0065 185.2692);
  --destructive: oklch(0.6592 0.1904 25.3082);
  --destructive-foreground: oklch(0.1603 0.0143 26.8249);
  --border: oklch(0.3202 0.0123 188.3773);
  --input: oklch(0.3003 0.0125 188.3014);
  --ring: oklch(0.6808 0.1104 189.5363);
  --chart-1: oklch(0.6808 0.1104 189.5363);
  --chart-2: oklch(0.7202 0.1198 230.0013);
  --chart-3: oklch(0.6002 0.1098 270.1827);
  --chart-4: oklch(0.7609 0.0998 350.2121);
  --chart-5: oklch(0.7398 0.1311 29.6861);
  --sidebar: oklch(0.1886 0.0106 196.2872);
  --sidebar-foreground: oklch(0.9694 0.0053 197.0688);
  --sidebar-primary: oklch(0.6808 0.1104 189.5363);
  --sidebar-primary-foreground: oklch(0.159 0.0144 195.8017);
  --sidebar-accent: oklch(0.2796 0.0397 189.8335);
  --sidebar-accent-foreground: oklch(0.9503 0.0065 185.2692);
  --sidebar-border: oklch(0.3202 0.0123 188.3773);
  --sidebar-ring: oklch(0.6808 0.1104 189.5363);
  --font-sans: Oxanium, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Inika, ui-serif, serif;
  --font-mono: Cousine, ui-monospace, monospace;
  --radius: 0.625rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}
