/*varibales created by VivekCSE */

/* backgound color: 60% */
$bgc: var(--bgc);
/* primary color: 30% */
$primary: var(--primary);
/* secondary color: 9% */
$secondary: var(--secondary);
/* success color: 1% */
$success: var(--success);
/* danger/error color: .1% */
$danger: var(--danger);
/* text colors  */
$textDark: var(--textDark);
$textLight: var(--textLight);
$textMuted: var(--textMuted);
/*global shadow on borders */
$shadow: var(--shadow);
/* --gradient: */
$gradient: var(--gradient);

$color_scheme: light dark;
$dark_mode: #1a1a1a;
$night_mode: #213547;
$light_mode: #cccccc;

/* toggle color pallet(cp) */
$togglecp: (
  $bgc,
  $primary,
  $secondary,
  $success,
  $danger,
  $textDark,
  $textLight,
  $textMuted
);
/* toggle background color pallet(bg) */
$togglebg: ($bgc, $dark_mode, $night_mode, $light_mode);
/* toggle favourite color pallet(tc) */
$togglefav: (
  var(--fav_blue),
  var(--fav_pink),
  var(--fav_purple),
  var(--fav_orange),
  var(--fav_sky),
  var(--fav_bhagwa),
  var(--fav_marron),
  var(--fav_gray)
);

$font_family: (var(--ff1), var(--ff2), var(--ff3), var(--ff4));
$font_size_default: 1.2rem;
$font_size_onHover: 1.5rem;
$Header_height: 5rem;

@keyframes animateNavLikeButton {
  0% {
    background-color: nth($togglecp, 3);
    border-radius: 0;
  }
  100% {
    background-color: nth($togglecp, 4);
    border-radius: 2rem;
  }
}

@keyframes gayab {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

$text_shadow_onHover: 0 0 5px
    nth(
      $list: $togglecp,
      $n: 2,
    ),
  0 0 25px
    nth(
      $list: $togglecp,
      $n: 2,
    ),
  0 0 50px
    nth(
      $list: $togglecp,
      $n: 2,
    ),
  0 0 100px
    nth(
      $list: $togglecp,
      $n: 2,
    );

$text_shadow_onHover_P: 0 0 5px
    nth(
      $list: $togglecp,
      $n: 2,
    ),
  0 0 25px
    nth(
      $list: $togglecp,
      $n: 2,
    ),
  0 0 50px
    nth(
      $list: $togglecp,
      $n: 2,
    ),
  0 0 100px
    nth(
      $list: $togglecp,
      $n: 2,
    );
