@use "../../styles.scss" as *;

.Navbar_ul {
  width: 100%;
  height: $Header_height;
  z-index: 1000;

  @include res_desktop {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  @include res_phone {
    width: 100%;
    height: auto;
    padding-top: $Header_height;
    display: none;
    flex-direction: column;
    background-color: nth($list: $togglecp, $n: 1);
  }
  @include res_phone {
    animation: left2Right 0.3s ease-in-out;
    animation-iteration-count: 1;
    overflow: hidden;
  }
  > li {
    @include res_desktop {
      padding: 1rem 0.5rem;
      position: relative;
    }

    &:hover {
      @include res_desktop {
        .nav_dropdown {
          display: flex;
        }
      }
    }
  }
}

.BurgerIcon {
  position: absolute;
  width: 100px;
  height: $Header_height;
  right: 0;
  top: 0;
  display: none;

  @include res_desktop {
    z-index: -100;
  }

  @include res_phone {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
    @include keypad {
      scale: 0.8;
      right: -0.5rem;
    }
  }
}

.nav_dropdown {
  display: none;
  @include res_desktop {
    width: auto;
    position: absolute;
    left: 0;
    top: 100%;
    transform: translateX(-60%);
  }
}

.Navbar_ul.nav_hide {
  display: flex;
}

.nav_dropdown.showflex {
  display: flex;
}
