@use "../Vars.scss" as *;
@use "../Styles.scss" as *;

.Hero_Section {
  width: 100%;
  height: 88vh;
  background-color: nth($list: $bg_gradient, $n: 1);

  .Hero_formSection {
    width: 100%;
  }

  .Hero_searchBar {
    width: 50%;
    margin: auto;
    @include res_phone {
      width: 90%;
    }
  }
}
